name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Check codestyle
        run: clang-format -i --verbose src/HangmanLib/HangmanFunc.c src/HangmanLib/HangmanLib.h src/Hangman/main.c
      - name: Build application
        run: make
      
      - name: Test application
        run: make test
        
 
